    body{
        background-color: royalblue;
    }
    
    /* this is the first heading */
    #header1{
        color: brown;
    }
    /* this is the second heading */
    #header2{
        text-align: center;
        border-style: solid;
    }
    
    .class1{
        color: navy;
        background-color: green;
    }

    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    .div{
        background-color: orange;
        border-style: solid;
        margin: 50px;
        padding: 25px;
    }

    #smcclogo{
        width: 20%;
        margin: auto;
    }   